.GuessGame {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100vw;
  height: 100vh;
}
.GuessGame__header {
  font-size: 40px;
  text-transform: uppercase;
}
.GuessGame__answer-found {
}
